version: 2.1

executors:
  compiler:
    docker:
      - image: docker:17.06.0-ce-git
    working_directory: ~/repo

jobs:
  circleci:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image circleci
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  cmake:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image cmake
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  dealii:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image dealii
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  dev_docker:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image dev_docker
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  intel_mkl:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image intel_mkl
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  libmesh:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image libmesh
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  mfem:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image mfem
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  mfem_mkl:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image mfem_mkl
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  mkl_vtk:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image mkl_vtk
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  open_foam:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image open_foam
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  petsc:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image petsc
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  python_bionic:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image python_bionic
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  ruby_bionic:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image ruby_bionic
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  slepc:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image slepc
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  taichi:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image taichi
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  trilinos:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image trilinos
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  vtk:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image vtk
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

workflows:
  version: 2
  build-images:
    jobs:
      - circleci:
          requires:
            - mkl_vtk
      - cmake
      - dealii:
          requires:
            - trilinos
      - dev_docker:
          requires:
            - ruby_bionic
      - intel_mkl:
          requires:
            - cmake
      - libmesh:
          requires:
            - slepc
      - mfem:
          requires:
            - petsc
      - mfem_mkl:
          requires:
            - mfem
            - intel_mkl
      - mkl_vtk:
          requires:
            - vtk
            - intel_mkl
      - open_foam:
          requires:
            - vtk
      - petsc:
          requires:
            - vtk
      - python_bionic
      - ruby_bionic
      - slepc:
          requires:
            - petsc
      - taichi:
          requires:
            - cmake
      - trilinos:
          requires:
            - slepc
      - vtk:
          requires:
            - cmake
