version: 2.1

executors:
  compiler:
    docker:
      - image: docker:17.06.0-ce-git
    working_directory: ~/repo

jobs:
  cmake:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image cmake
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  dealii:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image dealii
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  intel_mkl:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image intel_mkl
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  libmesh:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image libmesh
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  mfem:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image mfem
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  mkl_vtk:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image mkl_vtk
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  petsc:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image petsc
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  slepc:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image slepc
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  trilinos:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image trilinos
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

  vtk:
    executor: compiler
    steps:
      - checkout
      - setup_remote_docker:
          reusable: true
          exclusive: true
      - run:
          name: Install bash
          command: apk add --no-cache bash
      - attach_workspace:
          at: /root/repo/
      - run:
          name: Build + deploy image
          command: ./build-and-deploy-image vtk
          no_output_timeout: 30m
      - persist_to_workspace:
          root: /root/repo
          paths:
            - branch_cache

workflows:
  version: 2
  build-images:
    jobs:
      - cmake
      - dealii:
          requires:
            - trilinos
      - intel_mkl:
          requires:
            - cmake
      - libmesh:
          requires:
            - slepc
      - mfem:
          requires:
            - slepc
      - mkl_vtk:
          requires:
            - vtk
      - petsc:
          requires:
            - vtk
      - slepc:
          requires:
            - petsc
      - trilinos:
          requires:
            - slepc
      - vtk:
          requires:
            - cmake
